  
<body>
  <h2 class="text-center">Create An Appiontment</h2>
  <hr>
  <form class="form-inline">
      <div class="form-group">
        <h5 class="cd">Choose date</h5>
          <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                      name="dp" [(ngModel)]="model" (ngModelChange)="onChange()" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                      <i class="bi bi-calendar-check-fill"></i>
                  </button>
              </div>
          </div>        
      </div>
<hr>
<h5 class="ct" *ngIf="dateSelected">Choose Time</h5>
<div ngbDropdown *ngIf="dateSelected" class="d-inline-block">
  <button class="btn btn-outline-primary" id="dropdownBasic1"  ngbDropdownToggle>{{selectedHour}}</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button ngbDropdownItem *ngFor="let hour of hoursList" [value]="hour"(click)="getHour(hour)">{{hour}}</button>
  </div>
</div>
<button class="btn btn-success mr-2" *ngIf="dateSelected" (click)="createAppointment()" type="submit">Submit</button>

</form>

</body>
