  
  <h2 class="text-center text-primary">Create An Appiontment</h2>
  <hr>
  <form class="form-inline">
      <div>
      <h5 class="">Choose date</h5>
      <div class="form-group">
          <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                      name="dp" [(ngModel)]="model" (ngModelChange)="onChange()" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                      <i class="bi bi-calendar-check-fill"></i>
                  </button>
              </div>
          </div>        
      </div>
  </div>

  <!-- <p *ngIf="freeHours && freeHours.length > 0" >{{freeHours}}</p> -->
  <!-- <hr/> -->
  <div class="row" *ngIf="freeHours && freeHours.length > 0">
      <h5 class="">Choose Time</h5>
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1"  ngbDropdownToggle>{{selectedHour}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngFor="let hour of hoursList" [value]="hour"(click)="getHour(hour)">{{hour}}</button>
          </div>
        </div>
      </div>
  </div>
  <button class="btn btn-success mr-2" *ngIf="freeHours && freeHours.length > 0" (click)="createAppointment()" type="submit">Submit</button>


<hr>



</form>
    

  <!-- <pre>Model: {{ model | json }}</pre>
  -->

