.container{
    text-align:center;
    /* background-color:rgb(188, 145, 201); */
    padding-bottom: 5%;
}

h1{
    /* border-style:solid; */
    text-decoration:underline;
    text-transform: uppercase;
    text-shadow: 2px 2px rgb(146, 116, 175);
    font-weight: bold;
    font-family:cursive;

}


h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.dropdown{
    padding-bottom: 100px;
}
.input-name{
    display: inline-block;
    float: center;
    margin-left: 200px;

}

/* .d-inline-block{
    display: inline-block;
    float: center;

} */

.btn-group.mr-3{
    margin-top:65px;
    display: inline-block;
    float: center;
    

}



h3{
    text-align:center;
}

.btn.btn-secondary{
    margin-bottom: 5px;
    margin-left: 150px;
    color:rgb(255, 255, 255);
    background-color:rgb(79, 155, 144);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-light{
    margin-left: 10px;
    margin-bottom: 5px;
    color:rgb(255, 255, 255);
    background-color:rgb(146, 91, 168);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.search-container{
    margin:1%;
}

tr{
    background-color: beige;
}