<div class="wraper">
    <div class="main">
      <ngb-carousel
      [showNavigationArrows]="true" 
      [showNavigationIndicators]="true"
      [interval]="3000"
      [keyboard]="true"
      [pauseOnHover]="true"
      [wrap]="true"
      [activeId]="'sliderThree'"
      >
      
        
        <ng-template class="ngtemplate" ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="img1" src="https://images.unsplash.com/photo-1568640347023-a616a30bc3bd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80" alt="Random first slide">
            <div class="carousel-caption" >
              <h1 class="first-pic-text">Special Offer!!!</h1>
              <h2 class="offer-text">50% OFF On Your Dog's First Haircut</h2>
            </div>
          </div>
  
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="img1" src="https://images.unsplash.com/photo-1611173622933-91942d394b04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80" alt="Random second slide" >
          </div>
          <div class="carousel-caption">
            <h3>A well-groomed dog is a happy dog.</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="img1" src="https://images.unsplash.com/photo-1546421845-6471bdcf3edf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <h3>Bringing out the best in pets</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="img1" src="https://images.unsplash.com/photo-1508814437933-f0c7d18a9217?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>